* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
} 

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
} 

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
  max-width: 960px;
  margin: 0 auto; 
}

.contenedor {
  background-color: #f2f2f2;
  width: 800px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;

  display: block; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  color: darkblue;
  font-family: 'Roboto-Bold', Helvetica, sans-serif;
}
  
h3 {
  color:darkblue;
  font-family: 'Roboto-Light', Helvetica, sans-serif;
}

h4, h5 {
  color:darkblue;
  font-family: 'Roboto-Regular', Helvetica, sans-serif;
}
li {
  line-height: 1.2rem;
}
.Datos_personal {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Datos_personal img {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Direccion {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Direccion div {
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.Direccion img {
  width: 30px;
  height: auto;
  display: inline;
  justify-content: center;
  align-items: center; 
}

.Direccion p {
  width: 220px;
  height: auto;
  display: inline;
  justify-content: center;
  align-items: center;
}

.Experiencia {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Experiencia h3 {
  width: 300px;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 1.17rem;
  color: darkblue;
}

.Experiencia  li {
  margin-left: 20px;
  padding-left: 15px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}
/*
.Experiencia ul {
  margin-left: 20px;
  padding-left: 15px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}
*/
.Experiencia ul, li, ul {
  padding-left: 35px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}

.Educacion {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Educacion h3 {
  width: 300px;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 1.17rem;
  color: darkblue;
}
/*
.Educacion ul {
  margin-left: 20px;
  padding-left: 15px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}
*/

.Educacion ul, li, ul {
  margin-left: 20px;
  padding-left: 15px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}

.Idioma {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Idioma h3 {
  width: 300px;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 1.17rem;
  color: darkblue;
}
/*
.Idioma ul {
  margin-left: 20px;
  padding-left: 15px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}
*/
.Idioma ul, li, ul {
  margin-left: 20px;
  padding-left: 15px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}

.habilidades {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.habilidades h3 {
  width: 300px;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 1.17rem;
  color: darkblue;
}

.habilidades ul {
  margin-left: 10px;
  padding-left: 10px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}

.habilidades ul, li, ul {
  margin-left: 20px;
  padding-left: 15px;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 0.98rem;
}